@page "/Being"
@using Fluxor
@using interactiveCvBlazor.States
@inject IState<PageState> PageState
@inject IDispatcher Dispatcher

<h3>Mes savoirs être</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        this.Dispatcher.Dispatch(new SetPageAction("Being"));
        await base.OnInitializedAsync();
    }
}