@page "/Experiences"
@using interactiveCvBlazor.Components.Experience
@using interactiveCvBlazor.Services
@using interactive_cv_blazor.Components.Experience
@using interactiveCvBlazor.Store
@inject GlobalState GlobalStateService

<PageTitle>Experiences - Blanquet Laurent</PageTitle>

<h3>Mes expériences</h3>

<RadzenRow Gap="2px" RowGap="2px">
    @foreach (ExperienceModel experience in GlobalStateService.Experiences)
    {
        <RadzenColumn Size="12" SizeXS="12" SizeSM="12" SizeMD="12" SizeLG="12" SizeXL="12" SizeXX="6">
            <Experience Model=@experience />
        </RadzenColumn>
    }
</RadzenRow>

@code {
    
}