@page "/Monitoring"
@using Fluxor
@using interactiveCvBlazor.States
@inject IState<PageState> PageState
@inject IDispatcher Dispatcher

<h3>Veille technologique et IA</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        this.Dispatcher.Dispatch(new SetPageAction("Monitoring"));
        await base.OnInitializedAsync();
    }
}