@page "/Monitoring"


<h3>Veille technologique et IA</h3>

<PageTitle>Veille & IA - Blanquet Laurent</PageTitle>

<p cds-text="section">J'essaie de faire régulièrement de la veille technologique sur les nouveautés ou l'amélioration de ce que je connais déjà.</p>
<br/>
<p cds-text="subsection">Mes principaux moyens sont : </p>
<br/>
<ul class="list list-unstyled">
    <li>Des livres (<a href="https://www.editions-eni.fr/">Editions Eni</a>)</li>
    <li>Des comptes Youtube<br/>
        <table class="table table-noborder table-compact">
            <tbody>
            <tr>
                <td class="left">Nick Chapsas</td>
                <td><a href="https://www.youtube.com/@@nickchapsas" target="_blank" rel="noopener noreferrer">Lien youtube</a></td>
            </tr>
            <tr>
                <td class="left">Driss AS</td>
                <td><a href="https://www.youtube.com/@@drissas" target="_blank" rel="noopener noreferrer">Lien youtube</a></td>
            </tr>
            <tr>
                <td class="left">Code with Vlad</td>
                <td><a href="https://www.youtube.com/@@CodeWithVlad" target="_blank" rel="noopener noreferrer">Lien youtube</a></td>
            </tr>
            <tr>
                <td class="left">Evan - Le chat curieux</td>
                <td><a href="https://www.youtube.com/@@evan-le-chat-curieux" target="_blank" rel="noopener noreferrer">Lien youtube</a></td>
            </tr>
            </tbody>
        </table>
    </li>
    <li>Des posts linkedin</li>
</ul>
<br/>
<p cds-text="subsection">J'utilise l'IA (Google Gemini, ChatGpt, MistralAi) pour m'aider dans le développement. Elle me permet de : </p>
<br/>
<ul class="list list-unstyled">
    <li>Créer des squelettes de tests unitaire</li>
    <li>Créer des interfaces (html ou flutter) à partir d'une maquette</li>
</ul>

@code {

}