@page "/Skills"
@using interactiveCvBlazor.Components.Skill
@using interactive_cv_blazor.Components.Skill
@using interactiveCvBlazor.Store
@inject GlobalState GlobalStateService

<h3>Mes savoirs faire</h3>

<PageTitle>Savoirs faire - Blanquet Laurent</PageTitle>

<RadzenRow Gap="1rem">
    @foreach (SkillModel skill in GlobalStateService.Skills)
    {
        <RadzenColumn Size="12" SizeXS="12" SizeSM="12" SizeMD="12" SizeLG="6" SizeXL="4" SizeXX="4">
            <Skill Model=@skill />
        </RadzenColumn>
    }
</RadzenRow>

@code {
    

}