@page "/Trainings" 
@inherits interactive_cv_blazor.Pages.BasePage
@using interactive_cv_blazor.Components.Certificate
@using interactiveCvBlazor.Components.Certificate
@using interactiveCvBlazor.Store
@inject Serilog.ILogger Logger
@inject GlobalState GlobalStateService

<PageTitle>Formations - Blanquet Laurent</PageTitle>

<h3>Ma formation</h3>

<RadzenRow Gap="1rem">
    @foreach (CertificateModel certificate in GlobalStateService.Certificates)
    {
        <RadzenColumn Size="12" SizeXS="12" SizeSM="12" SizeMD="12" SizeLG="12" SizeXL="6" SizeXX="6">
            <Certificate Model=@certificate />
        </RadzenColumn>
    }
</RadzenRow>

@code {
    
    
}